.button-col{
  display: flex;
  justify-content: center;
}

p {
  font-size: 16px;
}

.button-label {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Bebas Neue', sans-serif;
}

.button {
  min-width: 124px;
  font-size: 16px;
  background-color:#aaff00;
  font-family: 'Bebas Neue', sans-serif;
  border: none;
  height: 45px;
  margin: 5px;
}

button:hover {
  background-color: #2b125e;
  color: rgb(170, 255, 0);
  transition: 0.3s;
}

.grid{
  margin-top: 50px;
}