.Card {
    background-color: rgba(255, 255, 255, 0.92);
    padding: 25px;
    min-width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
  }
  
  .dataRow {
   Display: inline-flex;
   
  }

  .dataType {
    text-align: left;
      font-size: 18px;
    font-family: 'Oswald', sans-serif !important;
    text-align: left !important;
    color:rgb(109, 198, 198);
  }

   .dataCol {
    text-align: right !important;
    font-size: 20px;
  font-family: 'Roboto Slab', serif;
  word-wrap: break-word;
  text-align: right !important;
  color: black;
  padding-left: 15px;
  }
  

  .Name {
    color: rgb(109, 198, 198);
    font-size: 38px;
    font-family: 'Staatliches', cursive;
    margin-bottom: 15px;
  }


 /* h3{
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  word-wrap: break-word;
  text-align: right !important;
  color: white;
 }

 small{
  font-size: 18px;
  font-family: 'Oswald', sans-serif !important;
  text-align: left !important;
  color:rgb(109, 198, 198);
 }*/

h4{
  font-size: 16px !important;
  font-family: 'Roboto Slab', serif;
  color: black;
}

 p{
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  padding-top: 1px;
  color: black;
  }