.button-col{
  display: inline-flex;
  justify-content: center;
}

p {
  font-size: 16px;
}

.button-row{
  display: inline-block;
  background-color: teal;
  height: 100px;
}

.button-label {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Staatliches', sans-serif;
  color:white;
}

.button {
  min-width: 124px;
  font-size: 16px;
  background-color: rgb(109, 198, 198);
  font-family: 'Roboto Slab', serif;
  color:white;
  height: 45px;
  margin: 5px;
  border: none;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  border-radius: 3px;
}

.button:hover {
  background-color: white;
  color: rgb(109, 198, 198);
  border-color: white;
  border: 2px;
  transition: 0.3s;
}

.button:active{
  border-color: white;
}

.grid{
  margin-top: 50px;
}